<%= form_with(model: static_content, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <% if static_content.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(static_content.errors.count, "error") %> prohibited this static_content from being saved:
      </h2>

      <ul>
        <% static_content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :data_type %>
    <%= form.select :data_type, [["HTML", "html"], ["JSON", "json"]], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <div id="code_editor" style="height: 400px;"></div>
  </div>

  <div class="form-group">
    <%= form.submit t("doorkeeper.applications.buttons.submit"), class: "btn btn-primary" %>
    <%= link_to t('doorkeeper.applications.buttons.cancel'), static_contents_path, class: "btn btn-default" %>
  </div>
<% end %>

<script>
  $(function () {
    var container = document.getElementById("code_editor")
    var options = {
      mode: 'code',
      <% if static_content.data_type == "json" %>
        modes: ['code', 'tree'],
      <% end %>
      onChangeText: function(jsonString) {
        $("#static_content_content").val(jsonString)
      }
    }
    var editor = new JSONEditor(container, options)

    <% content = static_content.content.to_s.html_safe %>
    <% if static_content.data_type == "html" %>
      editor.setText("<%= escape_javascript(content) %>")
    <% else %>
      editor.set(<%= content %>)
    <% end %>
  });
</script>
