<%= form_with(model: static_content, local: true) do |form| %>
  <% if static_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(static_content.errors.count, "error") %> prohibited this static_content from being saved:</h2>

      <ul>
      <% static_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :data_type %>
    <%= form.select :data_type, [["HTML", "html"], ["JSON", "json"]], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <p>
    <%= form.submit class: "btn btn-primary" %>
  </p>
<% end %>
