<%= form_with(model: static_content, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <% if static_content.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(static_content.errors.count, "error") %> prohibited this static_content from being saved:
      </h2>

      <ul>
        <% static_content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :version %>
    <%= form.text_field :version, class: "form-control" %>

    <small class="form-text text-muted">
      Dreistellige Versionsnummer (Beispiel: 1.2.3) angeben, wenn nötig
    </small>
  </div>

  <div class="form-group">
    <%= form.label :data_type %>
    <%= form.select :data_type, [["HTML", "html"], ["JSON", "json"]], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <% if static_content.data_type == "json" %>
      <% content = static_content.content.to_s.html_safe %>
      <% valid_json_content = JSON.parse(content) rescue nil %>
      <% if valid_json_content %>
        <div id="code_editor" style="height: 400px;"></div>
      <% else %>
        <div>
          <p class="text-danger"><small><em>JSON format is not valid!</em></small></p>
          <%= form.text_area :content, class: "form-control", style: "height: 400px;" %>
        </div>
      <% end %>
    <% else %>
      <div id="code_editor" style="height: 400px;"></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit t("doorkeeper.applications.buttons.submit"), class: "btn btn-primary" %>
    <%= link_to t('doorkeeper.applications.buttons.cancel'), static_contents_path, class: "btn btn-default" %>
  </div>
<% end %>

<script>
  $(function () {
    var container = document.getElementById("code_editor");

    if (container) {
      var options = {
        statusBar: false,
        mainMenuBar: false,
        mode: 'code',
        <% if static_content.data_type == "json" %>
          mainMenuBar: true,
          modes: ['code', 'tree'],
        <% end %>
        onChangeText: function(jsonString) {
          $("#static_content_content").val(jsonString);
        }
      };
      var editor = new JSONEditor(container, options);

      <% content = static_content.content.to_s.html_safe %>
      <% if static_content.data_type == "json" %>
        <% valid_json_content = JSON.parse(content) rescue nil %>
        <% if content.present? && valid_json_content %>
          editor.set(<%= content %>);
        <% else %>
          editor.set({});
        <% end %>
      <% else %>
        <% if content.present? %>
          editor.setText("<%= escape_javascript(content) %>");
        <% else %>
          editor.setText("");
        <% end %>
      <% end %>
    }
  });
</script>
