<%
  def btn_class(type = nil)
    return "btn-secondary" if params[:type].blank? && type.blank?
    return params[:type] == type ? "btn-secondary" : "btn-outline-secondary"
  end
%>

<div class="row">
  <div class="col">
    <h1>Static Contents</h1>

    <p><%= link_to 'New Static Content', new_static_content_path, class: "btn btn-success" %></p>

    <div class="btn-group btn-group-sm mb-3" role="group" aria-label="Choose data type">
      <a href="<%= static_contents_path(params_for_link(:type)) %>" class="btn <%= btn_class("") %>">All</a>
      <a href="<%= static_contents_path(params_for_link(:type, "json")) %>" class="btn <%= btn_class("json") %>">JSON</a>
      <a href="<%= static_contents_path(params_for_link(:type, "html")) %>" class="btn <%= btn_class("html") %>">HTML</a>
    </div>

    <%= render partial: 'search_form', locals: { form_path: static_contents_path, search_column: 'name' } %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <%= link_to "ID", static_contents_path(params_for_link(:id)) %>
            <%= render partial: 'sort_icon', locals: { sort_column: 'id' } %>
          </th>
          <th>
            <%= link_to "Name", static_contents_path(params_for_link(:name)) %>
            <%= render partial: 'sort_icon', locals: { sort_column: 'name' } %>
          </th>
          <th>Version</th>
          <th>Type</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @static_contents.each do |static_content| %>
          <tr>
            <td class="align-middle"><%= static_content.id %></td>
            <td class="align-middle"><%= link_to static_content.name, static_content_path(static_content) %></td>
            <td class="align-middle"><%= static_content.version %></td>
            <td class="align-middle"><%= static_content.data_type.upcase %></td>
            <td class="align-middle" style="width: 70px"><%= link_to 'Edit', edit_static_content_path(static_content), class: 'btn btn-sm btn-outline-secondary' %></td>
            <td class="align-middle" style="width: 70px"><%= link_to 'Destroy', static_content, method: :delete,class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @static_contents, theme: 'twitter-bootstrap-4' %>
  </div>

</div>
