<div class="row">
  <div class="col">
    <h1><%= @application.name %></h1>

    <div class="form-group">
      <label><%= t('.application_id') %></label>
      <div><code><%= @application.uid %></code></div>
    </div>

    <div class="form-group">
      <label><%= t('.secret') %></label>
      <div><code><%= @application.secret %></code></div>
    </div>

    <div class="form-group">
      <label><%= t('.scopes') %></label>
      <div><code><%= @application.scopes %></code></div>
    </div>

    <div class="form-group">
      <label><%= t('.confidential') %></label>
      <div><code><%= @application.confidential %></code></div>
    </div>

    <div class="form-group">
      <label><%= t('.callback_urls') %></label>
      <table class="table table-striped w-75">
        <tbody>
          <% @application.redirect_uri.split.each do |uri| %>
            <tr>
              <td class="align-middle"><code><%= uri %></code></td>
              <td class="align-middle" style="width: 70px">
                <%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scope: @application.scopes), class: 'btn btn-success', target: '_blank' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(@application), class: "btn btn-primary" %>
        &nbsp;
        <%= render 'delete_form', application: @application %>
        &nbsp;
        <%= link_to t('doorkeeper.applications.buttons.back'), oauth_applications_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
