<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/partials/head" %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <%= link_to "Smart Village App - Main-Server - #{@current_municipality.try(:title)}", root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <% if current_user.admin_role? %>
          <% if keycloak_login_available? %>
            <li class="nav-item">
              <%= link_to "Members", "#{@current_municipality.try(:settings).fetch("member_keycloak_url", "#")}", class: "nav-link", target: "_blank" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Accounts", accounts_path, class: "nav-link" %>
          </li>

          <li class="nav-item <%= 'active' if request.path == oauth_applications_path %>">
            <%= link_to t("doorkeeper.layouts.admin.nav.applications"), oauth_applications_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Static Contents", static_contents_path, class: "dropdown-item" %>
              <%= link_to "Data Resources", data_resources_path, class: "dropdown-item" %>
              <%= link_to "Categories", categories_path, class: "dropdown-item" %>
            </div>
          </li>

          <li class="nav-item">
            <%= link_to "App User Contents", app_user_contents_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "External Services", external_services_path, class: "nav-link" %>
          </li>
        <% end %>

        <% if current_user && current_user.try(:data_provider).try(:role_push_notification) %>
          <li class="nav-item">
            <%= link_to "Push Notifications", notification_devices_path, class: "nav-link" %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "Data Provider", edit_data_provider_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            APIs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "GraphQL API", "/graphiql", class: "dropdown-item", target: "_blank" %>
            <%= link_to "Swagger API", "/api-docs", class: "dropdown-item", target: "_blank" %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to "CMS", @current_municipality.cms_url, class: "nav-link", target: "_blank" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign out (#{current_user.email})", destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="doorkeeper-admin container">
    <%- if flash.any? %>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info <%= type %>">
          <%= msg %>
        </div>
      <% end %>
    <% end -%>

    <%= yield %>
  </div>

  <%= render partial: "layouts/partials/footer" %>
</body>
</html>
