<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/partials/head", locals: { no_admin_styles: true }  %>
</head>
<body>
  <div id="container">
    <%- if flash.any? %>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info <%= type %>">
          <%= msg %>
        </div>
      <% end %>
    <% end -%>

    <h1><%= @current_municipality.try(:title) %></h1>

    <%= yield %>
  </div>
</body>
</html>
