<h2>Minio</h2>

<div class="form-group">
  <%= form.label :minio_endpoint %>
  <%= form.text_field :minio_endpoint, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :minio_access_key %>
  <%= form.text_field :minio_access_key, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :minio_secret_key %>
  <%= form.text_field :minio_secret_key, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :minio_bucket %>
  <%= form.text_field :minio_bucket, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :minio_region %>
  <%= form.text_field :minio_region, class: "form-control" %>
</div>
