<%= form_tag(send_notification_notification_devices_path, method: :post) do  %>
  <div class="form-group">
    <%= label_tag "notification_title", "Title" %>
    <%= text_field_tag "notification[title]", nil ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag "notification_body", "Body" %>
    <%= text_field_tag "notification[body]", nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag "notification_data_query_type", "Data type" %>
    <%= select_tag "notification[data][query_type]",
                   options_for_select(DataResourceSetting::DATA_RESOURCES.map(&:to_s).sort),
                   class: "form-control",
                   include_blank: true %>
  </div>

  <div class="form-group">
    <%= label_tag "notification_data_query_id", "Data ID" %>
    <%= text_field_tag "notification[data][id]", nil, class: "form-control" %>
    <small class="form-text text-muted">
      Hier kann die ID eines bestimmten Datensatzes mitgegeben werden
    </small>
  </div>

  <% device_count = Notification::Device.all.count %>

  <div class="form-group">
    <%= submit_tag "An #{pluralize(device_count, "Device")} senden", class: "btn btn-primary" %>
  </div>
<% end %>
