<div class="row">
  <div class="col">
    <h1>Device</h1>

    <div class="form-group">
      <label>Token</label>
      <div><code><%= @notification_device.token %></code></div>
    </div>

    <div class="form-group">
      <label>Device type</label>
      <div><code><%= @notification_device.device_type %></code></div>
    </div>

    <div class="form-group">
      <%= link_to t("doorkeeper.applications.buttons.back"), notification_devices_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<br />

<h1>Push Notification senden</h1>

<%= render partial: "notification/devices/send_notification" %>

<br />

<%= render partial: "notification/devices/push_logs" %>
