<div class="row">
  <div class="col">
    <%= form_with(model: municipality, local: true) do |form| %>
      <% if municipality.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(municipality.errors.count, "error") %> prohibited this municipality from being saved:</h2>

          <ul>
            <% municipality.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :slug %>
        <%= form.text_field :slug, class: "form-control", disabled: true %>
        <p></p>
        <small class="form-text text-muted">bb-bad-belzig, mv-hagenow, ...; <a href="https://de.wikipedia.org/wiki/ISO_3166-2:DE" target="_blank">Mit Prefix der Ländercodes ohne "DE"</a></small>
      </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control", disabled: true %>
      </div>

      <h2>Global</h2>
      <div class="form-check">
        <%= form.check_box :global, { class: "form-check-input" } %>
        <%= form.label :global, "Data can be used by other municipalities", class: "form-check-label" %>
      </div>

      <%= render partial: "municipalities/form_partials/member_auth_settings", locals: { form: form, municipality: municipality } %>
      <%= render partial: "municipalities/form_partials/uptime_robot_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/meilisearch_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/mailer_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/minio_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/open_weather_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/cms_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/directus_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/rollbar_settings", locals: { form: form } %>
      <%= render partial: "municipalities/form_partials/redis_settings", locals: { form: form } %>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
