<div class="row">
  <div class="col">
    <%= form_with(model: municipality, local: true) do |form| %>
      <% if municipality.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(municipality.errors.count, "error") %> prohibited this municipality from being saved:</h2>

          <ul>
            <% municipality.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :slug %>
        <%= form.text_field :slug, class: "form-control" %>
        <p></p>
        <small class="form-text text-muted">bb-bad-belzig, mv-hagenow, ...; <a href="https://de.wikipedia.org/wiki/ISO_3166-2:DE" target="_blank">Mit Prefix der Ländercodes ohne "DE"</a></small>
      </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
