<%= form_with(model: municipality, local: true) do |form| %>
  <% if municipality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(municipality.errors.count, "error") %> prohibited this municipality from being saved:</h2>

      <ul>
        <% municipality.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
