<h1>Municipalities</h1>

<% if @municipality_suggestion.present? %>
  <div class="alert alert-info ">
    Die Kommune "<%= @municipality_suggestion %>" existiert noch nicht, wollen sie diese anlegen?
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @municipalities.each do |municipality| %>
      <tr>
        <td><%= municipality.slug %></td>
        <td><%= municipality.title %></td>
        <td><%= link_to 'Show', municipality.url, target: "_blank" %></td>
        <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
        <td><%= link_to 'Destroy', municipality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Municipality', new_municipality_path, class: "btn btn-primary" %>
