<div class="row">
  <div class="col">
    <h1>Category</h1>

    <div class="form-group">
      <label>Name</label>
      <div><code><%= @category.name %></code></div>
    </div>

    <% if @category.ancestry.present? %>
      <div class="form-group">
        <label>Ancestry IDs</label>
        <div><code><%= @category.ancestry %></code></div>
      </div>
    <% end %>

    <% if @category.icon_name.present? %>
      <div class="form-group">
        <label>Icon name</label>
        <div><code><%= @category.icon_name %></code></div>
      </div>
    <% end %>

    <% if @category.contact.present? %>
      <div class="form-group">
        <label>E-mails for certain notifications</label>
        <div><code><%= @category.contact.email %></code></div>
      </div>
    <% end %>

    <% if @category.tag_list.present? %>
      <div class="form-group">
        <label>Tags</label>
        <div><code><%= @category.tag_list %></code></div>
      </div>
    <% end %>

    <div class="form-group">
      <%= link_to t("doorkeeper.applications.buttons.edit"), edit_category_path(@category), class: "btn btn-primary" %>
      <%= link_to t("doorkeeper.applications.buttons.back"), categories_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
