<form class="form-inline" method="get" action="<%= form_path %>">
  <div class="form-group mb-2">
    <input
      id="query"
      placeholder="<%= t("search_column.#{search_column}") + " durchsuchen" %>"
      name="query"
      type="search"
      value="<%= request.query_parameters[:query] %>"
      class="form-control"
    />
  </div>

  <button type="submit" class="btn btn-primary mb-2">Suchen</button>
  <button type="submit" class="btn btn-warning mb-2" onClick="$('#query').val('');">Alles anzeigen</button>

  <%# Preserve other parameters, e.g. for sorting %>
  <% request.query_parameters.each do |key, value| %>
    <%# Skip query, because it would overwrite the input's value %>
    <%# also skip page, because we want to be on page 1 when we search %>
    <% next if key == 'query' || key == 'page' %>
    <input type="hidden" name="<%= key %>" value="<%= value %>" />
  <% end %>
</form>
