<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/partials/head" %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <%= link_to "Smart Village App - Administration", root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

          <% if current_admin %>
            <li class="nav-item">
              <%= link_to "Municipalities", municipalities_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Backgroundjobs", "/background", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign out (#{current_admin.email})", destroy_admin_session_path, class: 'nav-link', method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>

    </nav>

    <div class="doorkeeper-admin container">
      <%- if flash.any? %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info <%= type %>">
            <%= msg %>
          </div>
        <% end %>
      <% end -%>

      <%= yield %>
    </div>
  </body>
</html>
