<!DOCTYPE html>
<html>
  <head>
    <title>SmartVillageAppMainserver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "doorkeeper/admin/application" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <%= link_to "Smart Village App - Administration", root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

          <% if current_admin %>
            <li class="nav-item">
              <%= link_to "Municipalities", municipalities_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>

    </nav>

    <div class="doorkeeper-admin container">
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info <%= type %>">
            <%= msg %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
