<!DOCTYPE html>
<html>
  <head>
    <title>SmartVillageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "doorkeeper/admin/application" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <%= link_to "Smart Village App", "https://smart-village.app", class: 'navbar-brand' %>
    </nav>
    <div class="container">
      <%- if flash[:notice].present? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end -%>

      <%= yield %>
    </div>

  </body>
</html>
