<% if @user.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5>
      <%= t('doorkeeper.applications.form.error') %>
    </h5>

    <ul style="margin: 0">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :email, "E-Mail" %>
  <%= f.text_field :email, class: 'form-control', required: true %>
</div>

<div class="form-group">
  <%= f.label :role, "Rolle" %>
  <%= f.select :role, [["Nutzer", :user], ["Admin", :admin]], class: 'form-control' %>
</div>

<h2>Passwort</h2>
<div class="row">
  <div class="form-group col-6">
    <%= f.label :password, "Passwort eingeben" %>
    <%= f.password_field :password, class: 'form-control' %>

    <% unless @user.new_record? %>
      <small class="form-text text-muted">
        Bitte leer lassen, wenn es nicht verändert werden soll
      </small>
    <% end %>
  </div>

  <div class="form-group col-6">
    <%= f.label :password_confirmation, "Passwort bestätigen" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <% unless @user.new_record? %>
      <small class="form-text text-muted">
        Bitte leer lassen, wenn es nicht verändert werden soll
      </small>
    <% end %>
  </div>
</div>


<%= f.fields_for :data_provider, object: @user.data_provider || @user.build_data_provider do |d|%>
  <h2>Data Provider</h2>
  <div class="form-group">
    <%= d.label :name %>
    <%= d.text_field :name, class: 'form-control' %>
    <small class="form-text text-muted">
      Dieser Text wird auch in der App angezeigt.
    </small>
  </div>

  <div class="form-group">
    <%= d.label :description %>
    <%= d.text_area :description, class: 'form-control' %>
    <small class="form-text text-muted">
      Nur für interne Zwecke
    </small>
  </div>

  <h3>Logo</h3>
  <%= d.fields_for :logo, object: @user.data_provider.logo || @user.data_provider.build_logo do |l|%>
    <div class="form-group">
      <%= l.label :url, "Link zum Logo" %>
      <%= l.text_field :url, class: 'form-control', required: true %>
      <small class="form-text text-muted">
        Diese Grafik wird über Ihren Beiträgen dargestellt.
      </small>
    </div>

    <div class="form-group">
      <%= l.label :description, "Alternativer Text für das Logo" %>
      <%= l.text_field :description, class: 'form-control' %>
    </div>
  <% end %>

  <h3>Adresse</h3>
  <p>Diese Daten dienen nur internen Zwecken und werden nicht in der App dargestellt.</p>
  <%= d.fields_for :address, object: @user.data_provider.address || @user.data_provider.build_address do |a|%>
    <div class="row">
      <div class="form-group col-6">
        <%= a.label :street, "Straße" %>
        <%= a.text_field :street, class: 'form-control' %>
      </div>

      <div class="form-group col-6">
        <%= a.label :addition, "ggf. Adresszusatz" %>
        <%= a.text_field :addition, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <%= a.label :zip, "PLZ" %>
        <%= a.text_field :zip, class: 'form-control' %>
      </div>

      <div class="form-group col-6">
        <%= a.label :city, "Stadt" %>
        <%= a.text_field :city, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <h3>Ansprechpartner</h3>
  <p>Diese Daten dienen nur internen Zwecken und werden nicht in der App dargestellt.</p>
  <%= d.fields_for :contact, object: @user.data_provider.contact || @user.data_provider.build_contact do |a|%>
    <div class="row">
      <div class="form-group col-6">
        <%= a.label :first_name, "Vorname" %>
        <%= a.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group col-6">
        <%= a.label :last_name, "Nachname" %>
        <%= a.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <%= a.label :phone, "Telefon" %>
        <%= a.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group col-6">
        <%= a.label :fax, "Fax" %>
        <%= a.text_field :fax, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
        <%= a.label :email, "E-Mail" %>
        <%= a.text_field :email, class: 'form-control' %>
      </div>
  <% end %>


  <h2>Rechte im CMS</h2>
  <div class="form-group">
    <div class="form-check">
      <%= d.check_box :role_point_of_interest, {class: 'form-check-input'}, "true", "false" %>
      <%= d.label :role_point_of_interest, "Points of Interests", class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= d.check_box :role_tour, {class: 'form-check-input'}, "true", "false" %>
      <%= d.label :role_tour, "Touren", class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= d.check_box :role_news_item, {class: 'form-check-input'}, "true", "false" %>
      <%= d.label :role_news_item, "Nachrichten", class: 'form-check-label' %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= d.check_box :role_event_record, { class: 'form-check-input'}, "true", "false" %>
      <%= d.label :role_event_record,"Veranstaltungen", class: 'form-check-label' %>
    </div>
  </div>

  <%= d.fields_for :data_resource_settings do |s| %>
    <h2>Optionen für <%= s.object.data_resource_type.pluralize %></h2>
      <%= s.hidden_field :id %>
      <%= s.hidden_field :data_provider_id %>
      <%= s.hidden_field :data_resource_type %>
      <div class="row">
        <div class="form-group col-6">
          <div class="form-check">
            <%= s.check_box :display_only_summary, { class: 'form-check-input'}, "true", "false" %>
            <%= s.label :display_only_summary, "Nur Zusammenfassung anzeigen", class: 'form-check-label' %>
            <small class="form-text text-muted">
              Unter der Zusammenfassung wird dann ein Link zur Quelle angezeigt
            </small>
          </div>
        </div>

        <div class="form-group col-6">
          <div class="form-check">
            <%= s.check_box :always_recreate_on_import, { class: 'form-check-input'}, "true", "false" %>
            <%= s.label :always_recreate_on_import, "Datensatz immer neu anlegen", class: 'form-check-label' %>
            <small class="form-text text-muted">
              Bei einem Import von Daten werden diese immer neu angelegt. Es erfolgt kein Update bestehender Daten
            </small>
          </div>
        </div>
      </div>
  <% end %>

<% end %>

<p>
  <%= f.submit t('doorkeeper.applications.buttons.submit'), class: "btn btn-primary" %>
</p>
