<% if @user.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5>
      <%= t("doorkeeper.applications.form.error") %>
    </h5>

    <ul style="margin: 0">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :email, "E-Mail" %>
  <%= f.text_field :email, class: "form-control", required: true %>
</div>

<div class="form-group">
  <%= f.label :role, "Rolle" %>
  <%= f.select :role, User.roles.keys.map { |role| [role.camelcase, role] }, {}, class: "form-control" %>
</div>

<h2>Passwort</h2>
<div class="row">
  <div class="form-group col-6">
    <%= f.label :password, "Passwort eingeben" %>
    <%= f.password_field :password, class: "form-control" %>

    <% unless @user.new_record? %>
      <small class="form-text text-muted">
        Bitte leer lassen, wenn es nicht verändert werden soll
      </small>
    <% end %>
  </div>

  <div class="form-group col-6">
    <%= f.label :password_confirmation, "Passwort bestätigen" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <% unless @user.new_record? %>
      <small class="form-text text-muted">
        Bitte leer lassen, wenn es nicht verändert werden soll
      </small>
    <% end %>
  </div>
</div>

<%= f.fields_for :data_provider, object: @user.data_provider || @user.build_data_provider do |d| %>
  <h2>Data Provider</h2>
  <div class="form-group">
    <%= d.label :name %>
    <%= d.text_field :name, class: "form-control" %>
    <small class="form-text text-muted">
      Dieser Text wird auch in der App angezeigt.
    </small>
  </div>

  <div class="form-group">
    <%= d.label :description %>
    <%= d.text_area :description, class: "form-control" %>
    <small class="form-text text-muted">
      Nur für interne Zwecke
    </small>
  </div>

  <div class="form-group">
    <%= d.label :notice %>
    <%= d.text_area :notice, class: "form-control" %>
    <small class="form-text text-muted">
      Hinweistext, der in der App bei Orten, Touren und Veranstaltungen ausgegeben wird.
    </small>
  </div>

  <div class="form-group">
    <%= d.label :data_type, "Art des Datenlieferanten" %>
    <%= d.select :data_type, DataProvider.data_types.keys.map { |a| [a.humanize, a] }, {}, class: "form-control" %>
    <small class="form-text text-muted">
      Bei einem BusinessAccount werden in der App Nachrichten, Veranstaltungen, Touren und Orte verknüpft dargestellt.
      D.h. in der Detailansicht eines Standortes werden darunter alle Nachrichten und Events dieses Datenlieferanten angezeigt.
    </small>
  </div>

  <h3>Logo</h3>
  <%= d.fields_for :logo, object: @user.data_provider.logo || @user.data_provider.build_logo do |l| %>
    <div class="form-group">
      <%= l.label :url, "Link zum Logo" %>
      <%= l.text_field :url, class: "form-control", required: true %>
      <small class="form-text text-muted">
        Diese Grafik wird über Ihren Beiträgen dargestellt.
      </small>
    </div>

    <div class="form-group">
      <%= l.label :description, "Alternativer Text für das Logo" %>
      <%= l.text_field :description, class: "form-control" %>
    </div>
  <% end %>

  <h3>Adresse</h3>
  <p>Diese Daten dienen nur internen Zwecken und werden nicht in der App dargestellt.</p>
  <%= d.fields_for :address, object: @user.data_provider.address || @user.data_provider.build_address do |a| %>
    <div class="row">
      <div class="form-group col-6">
        <%= a.label :street, "Straße" %>
        <%= a.text_field :street, class: "form-control" %>
      </div>

      <div class="form-group col-6">
        <%= a.label :addition, "ggf. Adresszusatz" %>
        <%= a.text_field :addition, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <%= a.label :zip, "PLZ" %>
        <%= a.text_field :zip, class: "form-control" %>
      </div>

      <div class="form-group col-6">
        <%= a.label :city, "Stadt" %>
        <%= a.text_field :city, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <h3>Ansprechpartner</h3>
  <p>Diese Daten dienen nur internen Zwecken und werden nicht in der App dargestellt.</p>
  <%= d.fields_for :contact, object: @user.data_provider.contact || @user.data_provider.build_contact do |a| %>
    <div class="row">
      <div class="form-group col-6">
        <%= a.label :first_name, "Vorname" %>
        <%= a.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group col-6">
        <%= a.label :last_name, "Nachname" %>
        <%= a.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <%= a.label :phone, "Telefon" %>
        <%= a.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group col-6">
        <%= a.label :fax, "Fax" %>
        <%= a.text_field :fax, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= a.label :email, "E-Mail" %>
      <%= a.text_field :email, class: "form-control" %>
    </div>
  <% end %>

  <h2>Optionen für Ressourcen</h2>
  <nav>
    <div class="nav nav-tabs" id="resource-nav-tab" role="tablist">
      <%= d.fields_for :data_resource_settings do |s| %>
        <% next unless s.object.data_resource_type %>
        <a class="nav-item nav-link <%= s.object.data_resource_type == 'NewsItem' ? 'active' : '' %>" id="nav-contact-tab" data-toggle="tab" href="#nav-<%= s.object.data_resource_type %>" role="tab" aria-controls="nav-contact" aria-selected="false"><%= s.object.data_resource_type.pluralize %></a>
      <% end %>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <%= d.fields_for :data_resource_settings do |s| %>
      <div class="tab-pane fade show <%= s.object.data_resource_type == 'NewsItem' ? 'active' : '' %>" id="nav-<%= s.object.data_resource_type %>" role="tabpanel" aria-labelledby="nav-home-tab">
        <%= s.hidden_field :id %>
        <%= s.hidden_field :data_provider_id %>
        <%= s.hidden_field :data_resource_type %>
        <div class="row">
          <div class="form-group col-6">
            <div class="form-check">
              <%= s.check_box :display_only_summary, { class: "form-check-input"}, "true", "false" %>
              <%= s.label :display_only_summary, "Nur Zusammenfassung anzeigen", class: "form-check-label" %>
              <small class="form-text text-muted">
                Unter der Zusammenfassung wird dann ein Link zur Quelle angezeigt
              </small>
            </div>
          </div>

          <div class="form-group col-6">
            <div class="form-check">
              <%= s.check_box :always_recreate_on_import, { class: "form-check-input"}, "true", "false" %>
              <%= s.label :always_recreate_on_import, "Datensatz immer neu anlegen", class: "form-check-label" %>
              <small class="form-text text-muted">
                Bei einem Import von Daten werden diese immer neu angelegt. Es erfolgt kein Update
                bestehender Daten
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <div class="form-check">
              <%= s.check_box :cleanup_old_records, { class: "form-check-input"}, "true", "false" %>
              <%= s.label :cleanup_old_records, "Alte Daten regelmäßig löschen", class: "form-check-label" %>
              <small class="form-text text-muted">
                Täglich werden Daten diesen Typs gelöscht, wenn diese mehr als 48 Stunden älter sind als der zuletzt importierte Datensatz.
              </small>
            </div>
          </div>

          <div class="form-group col-6">
            <div class="form-check">
              <%= s.check_box :convert_media_urls_to_external_storage, { class: "form-check-input"}, "true", "false" %>
              <%= s.label :convert_media_urls_to_external_storage, "Medien importieren und in einem S3/Minio hosten", class: "form-check-label" %>
              <small class="form-text text-muted">
                Bei einem Import von Bild-Urls werden diese geladen und zu einem eigenen S3/Minio gesendet.
                Die Medien-Url wird dabei ersetzt.
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <%= s.label :default_category_ids, "Default Kategorien" %>
            <div class="category-tree">
              <%= hidden_field_tag("user[data_provider_attributes][data_resource_settings_attributes][#{s.options[:child_index]}][default_category_ids][]", nil) %>
              <%= render_selectable_categories(Category.all.arrange, s) %>
            </div>
            <small class="form-text text-muted">
              Ausgewählte Kategorien werden beim Import diesen Elementen zusätzlich automatisch zugewiesen.
            </small>
            <small class="form-text text-muted">
              Bei allen Einträgen dieses Data Providers vom Typ <strong><%= s.object.data_resource_type %></strong>
              können die hier definierten Kategorien nachträglich gesetzt werden:
              <%= link_to(
                    t("doorkeeper.applications.buttons.batch_action"),
                    batch_defaults_account_path(@user, data_resource_type: s.object.data_resource_type),
                    "data-confirm": "Sollen bei allen Einträgen dieses Data Providers vom Typ #{s.object.data_resource_type} die ausgewählten Kategorien hinzugefügt werden? ACHTUNG: Veränderungen müssen zuvor gespeichert werden!"
                  ) %>
            </small>
          </div>

          <div class="form-group col-6">
            <%= s.label :only_summary_link_text, "Linktext" %>
            <%= s.text_field :only_summary_link_text, class: "form-control", placeholder: "Weiterlesen" %>
            <small class="form-text text-muted">
              Dieser Text wird angezeigt, wenn die Checkbox 'Nur Zusammenfassung anzeigen' aktiviert ist.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col-5 align-items-center justify-content-start"><hr></div>
          <div class="col-2 align-items-center justify-content-center"><center>Facebook</center></div>
          <div class="col-5 align-items-center justify-content-end"><hr></div>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <div class="form-check">
              <%= s.check_box :post_to_facebook, { class: "form-check-input"}, "true", "false" %>
              <%= s.label :post_to_facebook, "Sende Daten zu Facebook" %>
              <small class="form-text text-muted">
                Erstellen Sie eine App für den Zugriff auf Ihre Seite unter <a href="https://developers.facebook.com/apps/?show_reminder=true" target="_blank">Meine Apps</a> bei Facebook.<br/>
                Erzeugen Sie einen <a href="https://developers.facebook.com/tools/explorer" target="_blank">User Access Token</a> über den Button "Generate Access Token".<br/>
                Anschließend wählen Sie "Seitenzugriffsschlüssel anfordern" unter "Nutzer oder Seite".<br/>
                Prüfen Sie danach ob folgende Rechte zugewiesen sind oder fügen Sie diese gegebenenfalls hinzu:
                <ul>
                  <li>pages_manage_posts</li>
                  <li>pages_read_engagement</li>
                </ul>

                <%= link_to "Beispielfoto der Berechtigungen", asset_path("facebook_page_access_token"), target: "_blank" %>
              </small>
            </div>
          </div>

          <div class="form-group col-6">
            <%= s.label :facebook_page_id, "Facebook Page ID" %>
            <%= s.text_field :facebook_page_id, class: "form-control", placeholder: "Facebook Page ID" %>
            <small class="form-text text-muted">
              Bitte geben Sie hier die ID der Facebook Seite an, zu der die Beiträge erstellt werden sollen.
              Die ID ergibt sich aus der URL der Seite und besteht nur aus der Nummer, falls eine vorhanden ist.
            </small>

            <br />

            <%= s.label :facebook_page_access_token, "Page Access Token" %>
            <%= s.text_field :facebook_page_access_token, class: "form-control", placeholder: "Page Access Token" %>
            <small class="form-text text-muted">
              Hier ist der Seitenzugriffsschlüssel einzutragen, den Sie mit Ihrem "User Access Token" bei Facebook angefordert haben.
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <h2>Rechte im CMS</h2>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_tour, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_tour, I18n.t("data_resource.tour.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_point_of_interest, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_point_of_interest, I18n.t("data_resource.point_of_interest.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_news_item, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_news_item, I18n.t("data_resource.news_item.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_event_record, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_event_record, I18n.t("data_resource.event_record.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_push_notification, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_push_notification, "Push-Notification senden", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_survey, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_survey, "Umfragen", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_static_contents, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_static_contents, "Statische Inhalte", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_deadlines, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_deadlines, I18n.t("data_resource.generic_item_deadline.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_defect_report, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_defect_report, I18n.t("data_resource.generic_item_defect_report.other"), class: "form-check-label" %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_lunch, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_lunch, "Gastro-Angebote", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_waste_calendar, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_waste_calendar, "Abfallkalender", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_job, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_job, I18n.t("data_resource.generic_item_job.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_offer, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_offer, I18n.t("data_resource.generic_item_offer.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_construction_site, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_construction_site, I18n.t("data_resource.generic_item_construction_site.other"), class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_encounter_support, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_encounter_support, "Support für Begegnungen", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_tour_stops, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_tour_stops, "Tourstopps", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= d.check_box :role_noticeboard, { class: "form-check-input" }, "true", "false" %>
          <%= d.label :role_noticeboard, I18n.t("data_resource.generic_item_noticeboard.other"), class: "form-check-label" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<div class="form-group">
  <%= f.submit t("doorkeeper.applications.buttons.submit"), class: "btn btn-primary" %>
  <%= link_to t('doorkeeper.applications.buttons.cancel'), accounts_path, class: "btn btn-default" %>
</div>
