<div class="row">
  <div class="col">
    <h1>Nutzerverwaltung</h1>

    <p><%= link_to "neuen Nutzer erstellen", new_account_path, class: 'btn btn-success' %></p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>E-Mail</th>
          <th>Data Provider</th>
          <th>Application</th>
          <th>Rolle</th>
          <th>CMS POI</th>
          <th>CMS Tour</th>
          <th>CMS News Items</th>
          <th>CMS Event Records</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr id="user_<%= user.id %>">
            <td class="align-middle"><%= user.id %></td>
            <td class="align-middle"><%= link_to user.email, edit_account_path(user) %></td>
            <td class="align-middle"><%= user.data_provider_id.present? %></td>
            <td class="align-middle"><%= user.oauth_applications.any? %></td>
            <td class="align-middle"><%= user.role %></td>
            <td class="align-middle">
              <span class="badge <%= user.try(:data_provider).try(:role_point_of_interest) ? 'badge-success' : 'badge-danger' %>">
                <%= user.try(:data_provider).try(:role_point_of_interest) %>
              </span>
            </td>
            <td class="align-middle">
              <span class="badge <%= user.try(:data_provider).try(:role_tour) ? 'badge-success' : 'badge-danger' %>">
                <%= user.try(:data_provider).try(:role_tour) %>
              </span>
            </td>
            <td class="align-middle">
              <span class="badge <%= user.try(:data_provider).try(:role_news_item) ? 'badge-success' : 'badge-danger' %>">
                <%= user.try(:data_provider).try(:role_news_item) %>
              </span>
            </td>
            <td class="align-middle">
              <span class="badge <%= user.try(:data_provider).try(:role_event_record) ? 'badge-success' : 'badge-danger' %>">
                <%= user.try(:data_provider).try(:role_event_record) %>
              </span>
            </td>
            <td class="align-middle" style="width: 70px"><%= link_to t('doorkeeper.applications.buttons.edit'), edit_account_path(user), class: 'btn btn-sm btn-outline-secondary' %></td>
            <td class="align-middle" style="width: 70px"><%= link_to "Delete", account_path(user), method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: "Sind sie sicher?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
